* {
    margin: 0px;
    font-family: monospace;
}

.header {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 10px;
    background: azure;
    /* border-bottom: 2px solid green; */
}

.header__logo {
    width: 80px;
}

.header__logo-img {
    width: 80px;
}

.header__right-text {
    font-size: 3em;
    color: purple;
    padding-bottom: 15px;
    text-align: center;
}

.header__right-navbar {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;  
}

.main {
    height: auto;
    display: grid;
    background: whitesmoke;
    border-bottom: 2px solid green;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:auto auto;
}

img {
    width: 400px;
}

.product{
    grid-column: 1 / 1;
    border: 2px solid lightpink
}

.product__img {
    border-bottom: 2px solid orange;
}

.product__img-container {
    display: block;
}

.inventory {
    grid-column: 2 / 3;
    border: 2px solid green;
}

.inventory-result {
    grid-column: 1 / 3;
    border: 2px solid green;
}

.search-inventory,
.add-inventory {
    display: grid;
    grid-template-rows: auto auto;
}

.search-inventory__form,
.add-inventory__form {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;

    label {
        text-align: center
    }
}
.search-inventory__form-reset-button,
.add-inventory__form-reset-button {
    grid-column: 1 / 3;
    margin: 5px;
    padding: 10px;
    font-size: 1.5em;
}

.search-inventory__form-submit-button,
.add-inventory__form-submit-button {
    grid-column: 3 / 5;
    margin: 5px;
    padding: 10px;
    font-size: 1.5em;
}



h2 {
    font-size: 2em;
    color: purple;
    /* padding-bottom: 15px; */
    text-align: center;
    border-bottom: 2px solid orange
}